<div class="navbar">
  <div class="brand">AVM</div>
  <div class="navbar-list">
    <ul>
      <li class="navbar-links"> <a href="#">Home</a> </li>
      <li class="navbar-links"> <a href="#">Companies</a></li>
      <li class="navbar-links"> <a href="#">Skillset</a> </li>
      <li class="navbar-links"> <a href="#">Sample Works</a> </li>
      <li class="navbar-links"> <a href="#">Testimonials</a></li>
      <li class="navbar-links"> <a href="#">Contacts</a> </li>
    </ul>
    <div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
    </div>
  </div>
  
</div>